/* BROUGHT FROM INDEX.CSS */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* APP.CSS */

.bg {
  background-image: url("./background1.jpg");
  height: 100vh;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainBody {
  padding-top: 80px;
}

.soundRule {
  color: whitesmoke;
  text-align: center;
  font-size: 68px;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
}

.tagline {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
}

.loginBox {
  margin-top: 30px;
  color: black;
  border-radius: 10px;
  padding: 3px 19px;
  text-align: center;
}

.signInButton {
  margin: 20px 20px 0px 10px;
}

.videoModal {
  margin-bottom: 10px;
  margin-left: 5px;
  width: 720px;
  height: 405px;
}

.mainPageVideos {
  width: 320px;
  height: 180px;
  margin-bottom: 10px;
}

.personalProfile {
  background-color: #e0a800;
  margin: 0px -15px;
  padding: 10px 0px;
}

.category {
  background-color: #e4e8ec;
  margin: 20px 0px;
  border-radius: 5px;
}

button {
  padding: 6px;
  border-radius: 5px !important;
  border: 1px solid #e0a800;
  background-color: #e0a800;
}

.noteBox {
  border: 1px solid red;
  border-radius: 10px;
  background-color: rgb(248, 120, 120);
  color: white;
  padding-top: 10px;
}

.space {
  margin: 20px 0px;
}

.playButton {
  font-weight: bold;
  cursor: pointer;
}

.playButton i {
  display: none;
}

.playButton:hover {
  width: 70px;
  border-radius: 6px;
  padding-left: 8px;
  background-color: lightgrey;
}

.playButton:hover i {
  display: inline;
}

/* CSS FOR DIFFERENT SIZED DEVICES (Mobile, etc)  */

@media (max-width: 380px) {
  .soundRule {
    font-size: 50px;
  }

  .tagline {
    font-size: 15px;
  }

  .loginBox img {
    height: 250px;
  }

  .videoModal {
    width: 272px;
    height: 153px;
  }
}

@media (min-width: 380px) and (max-width: 425px) {
  .soundRule {
    font-size: 50px;
  }

  .tagline {
    font-size: 16px;
  }

  .loginBox img {
    height: 390px;
  }

  .videoModal {
    width: 336px;
    height: 189px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .bg {
    background-image: url("./background1.jpg");
    height: 210vh;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .videoModal {
    width: 320px;
    height: 180px;
  }

  .loginBox img {
    height: 390px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .bg {
    background-image: url("./background1.jpg");
    height: 200vh;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .loginBox img {
    height: 340px;
  }

  .videoModal {
    width: 432px;
    height: 243px;
  }
}

/* CONTACT US Css */

.contactForm {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactForm > input,
textarea {
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137);
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: black;
  outline: none;
}

.contactForm > input:focus,
textarea:focus {
  border: 1px solid #e0a800;
}

.contactForm > label {
  color: black;
  font-weight: bold;
}

.contactForm > button {
  border: none;
  background-color: #e0a800;
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.footer {
  background-color: lightgray;
  color: black;
  text-align: center;
}
